main {
    .ultimoGpdisputado {
        img {
            width: 100%;
        }




    }

    .imagenDelgp {
        img {
            display: flex;
            margin: -18px 238px 27px 1276px;
            width: 50%;
            height: 50%;
        }




    }
    .imagenDelgp2 {
        img {
            display: flex;
            margin: -18px 238px 27px 1278px;
            width: 50%;
            height: 50%;
        }




    }
    .textosDelgp {
        display: flex;
        margin: -565px 4px 176px 17px;
        flex-direction: column;

        p {
            display: flex;
            margin: 2px 2px 2px 2px;
            text-align: left;
            width: 720px;

        }





    }
}