%imagenDelmain {
    display: flex;
    justify-content: left;

}



main {
    .ultimoGpdisputado {
        .portadaDelhome {
            img {
                width: 100%;
            }
        }



    }

    .textoDelmain {
        p {
            display: flex;
            text-align: left;
            width: 720px;

        }
    }

    .encabezadosDeseccion {
        h2 {
            display: flex;
            justify-content: center;
            margin: 100px 10px 100px 10px;
        }


    }


    .encabezadosDeseccion {
        h1 {


            display: flex;
            justify-content: center;
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }



    .imagenDelmain {
        @include margin(-389px 1023px 514px 881px);
        width: 639px;
        height: 341px;
        object-fit: cover;

    }

    .imagenDelmain2 {
        @include margin (-856px 1102px 410px 1098px);
        height: 341px;
        object-fit: cover;
    }


    .imagenDelmain3 {
        @include margin (-750px 1102px 0px 1315px);
        height: 341px;
        object-fit: cover;

    }

    .imagenDelmain4 {
        @include margin (-341px 1329px 149px 1613px);
        display: none;
        height: 341px;

        object-fit: cover;
    }





    .linkReferencial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2px 2px 0px 2px;




    }

    p {
        margin: 5px 20px 5px 20px;
        text-align: justify;
    }
}