$color-cajas: gainsboro;

%tarjetasDenoticias {
    display: flex;
    background-color: $color-cajas;
    margin: 5px;
    border-radius: 5px;
    align-content: center;
    width: 500px;
    margin: 20px 20px 20px 20px;
    flex-direction: column;
}

main {
    h5 {
        margin: 10px;
    }
    .portadaDenoticias {
        img {
            display: flex;
            width: 100%;
        }
    }
    .noticias {
        display: flex;
        align-items: center;
        display: block;
        margin: 0px 37px;

        .box {
            display:inline-flex;
            background-color: gainsboro;
            margin: 38px 69px;
            border-radius: 5px;
            overflow: hidden;
            width: 35%;
            .tarjetaNoticias1 {
               
                img {
                    max-width: 100%;
                    object-fit: cover;

                }

            }
            .tarjetaNoticias2 {
                img {
                    max-width: 100%;
                    object-fit: cover;

                }

            }
            .tarjetaNoticias3 {
                img {
                    max-width: 100%;
                    object-fit: cover;

                }

            }
            .tarjetaNoticias4 {
                img {
                    max-width: 100%;
                    object-fit: cover;

                }

            }
            .tarjetaNoticias5 {
                img {
                    max-width: 100%;
                    object-fit: cover;

                }

            }
            .tarjetaNoticias6 {
                img {
                    max-width: 100%;
                    object-fit: cover;

                }

            }

        }
    }
}