$color-cajas: gainsboro;

%tarjetasDenoticias {
    display: flex;
    background-color: $color-cajas;
    margin: 5px;
    border-radius: 5px;
    align-content: center;
    width: 500px;
    margin: 20px 20px 20px 20px;
    flex-direction: column;
}

main {
    h5 {
        margin: 10px;
    }

    .noticias {
        display: flex;
        align-items: center;
        display: block;
        margin: 0px 57px;

        .box {

            display: flex;
            flex-direction: row;
            display: inline-flex;
            margin: 17px 30px 20px 20px;



            .tarjetaNoticia1 {
                @extend %tarjetasDenoticias;

            }

            .tarjetaNoticia2 {
                @extend %tarjetasDenoticias;
            }

            .tarjetaNoticia3 {
                @extend %tarjetasDenoticias;
            }

            .tarjetaNoticia4 {
                @extend %tarjetasDenoticias;
            }

            .tarjetaNoticia5 {
                @extend %tarjetasDenoticias;
            }

            .tarjetaNoticia6 {
                @extend %tarjetasDenoticias;
            }
        }
    }
}