$color-cajas: gainsboro;
$color-primario: #033519fb;



header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;


}

footer {
    grid-area: pie;


}

@media screen and (max-width: 1440px) {

    body {
        grid-template-areas:
            "header header"
            "nav nav"
            "main main"
            "pie pie";
        grid-template-columns: 512px 512px;
        grid-template-rows: 150px 20px auto 1fr;

        main {
            .imagenDelgp2 {
                img {
                    display: flex;
                    margin: -18px 238px 27px 700px;
                    width: 50%;
                    height: 50%;
                }

            }

            .textosDelgp {
                display: flex;
                margin: -418px -78px 176px 17px;
                width: -127px;
                flex-direction: column;

                p {
                    display: flex;
                    margin: 10px 66px 2px 2px;
                    text-align: left;
                    width: 632px;
                }

            }

            .imagenDelgp {
                img {
                    display: flex;
                    margin: 54px 238px 27px 700px;
                    width: 50%;
                    height: 50%;
                }

            }

            .ultimoGpdisputado {
                img {
                    width: 100%;

                }
            }

            .noticias {
                display: flex;
                align-items: center;
                display: block;
                margin: 0px 37px;

                .box {
                    display: inline-flex;
                    background-color: gainsboro;
                    margin: 53px 191px;
                    border-radius: 5px;
                    box-shadow: 5px 5px 15px gray;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .boxblog {
                display: inline-flex;
                background-color: $color-cajas;
                margin: 50px 50px 10px 233px;
                border-radius: 5px;
                overflow: hidden;
                align-items: center;
                width: 561px;
                justify-content: center;
                padding: 16px;

                img {
                    width: 733px;
                    align-content: center;
                    padding: -105px 5px 5px 5px;
                    margin: 54px -202px 31px -165px;
                    object-fit: contain;
                }
            }

            .textoDelmain p {
                display: flex;
                width: 500px;
                text-align: justify;
            }

            .imagenDelmain {
                display: flex;
                justify-content: left;
                width: 0px;
                height: 552px;
                margin: -579px 1090px 204px 554px;


            }


            .imagenDelmain2,
            .imagenDelmain3,
            .imagenDelmain4 {
                display: none;
            }

            .imagenDelmain2 {
                display: flex;
                justify-content: left;
                width: 0px;
                height: 557px;
                margin: -759px 938px 31px 896px
            }

            .boxNewslatter {
                display: flex;
                background-color: gainsboro;
                margin: 40px 134px 10px 260px;
                border-radius: 5px;
                overflow: hidden;
                align-content: center;
                width: 500px;
                height: 500px;
                flex-direction: column;
                flex-wrap: wrap;

                h2 {
                    text-align: center;
                    margin: -51px -527px 340px -237px;
                }
            }

            .encabezadosDeseccion h1,
            .tituloDelapagina h1,
            .tituloDelapagina h2,
            .encabezadosDeseccion h2 {
                display: flex;
                justify-content: center;
                margin-top: 150px;
                margin-bottom: 20px;
            }

            .encabezadosDeseccion h1 {
                margin-top: 24px;
            }

            .encabezadosDeseccion h2 {
                margin-top: 26px;
            }

            .box img {
                display: flex;
                align-items: center;
                margin: 28px 114px;
            }
        }
    }

    .tituloDelapagina {
        padding: 30px;
    }

    .nav {
        flex-direction: column;
        background-color: #07371c;
    }

    .ultimoGpdisputado #img {
        width: 100%;
        height: 100%;

    }

    footer {

        .listaPie1 ul,
        .listaPie2 ul {

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 10px 10px 10px;

            h2 {
                display: flex;
                flex-direction: column;
            }
        }

        .direccion2 {
            display: flex;
            margin: -157px 0px 0px 0px;
        }
    }
}

@media screen and (max-width: 1024px) {

    body {
        grid-template-areas:
            "header header"
            "nav nav"
            "main main"
            "pie pie";
        grid-template-columns: 512px 512px;
        grid-template-rows: 150px 20px auto 1fr;

        main {
            .noticias {
                display: flex;
                align-items: center;
                display: block;
                margin: 0px 37px;

                .box {
                    display: inline-flex;
                    background-color: gainsboro;
                    margin: 53px 191px;
                    border-radius: 5px;
                    box-shadow: 5px 5px 15px gray;
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        object-fit: cover;
                    }
                }
            }

            .boxblog {
                display: inline-flex;
                background-color: $color-cajas;
                margin: 50px 50px 10px 233px;
                border-radius: 5px;
                overflow: hidden;
                align-items: center;
                width: 561px;
                justify-content: center;
                padding: 16px;

                img {
                    width: 733px;
                    align-content: center;
                    padding: -105px 5px 5px 5px;
                    margin: 54px -202px 31px -165px;
                    object-fit: contain;
                }
            }

            .textoDelmain p {
                display: flex;
                width: 388px;
                text-align: justify;
            }

            .imagenDelmain {
                display: flex;
                justify-content: left;
                width: 0px;
                height: 805px;
                margin: -747px 1090px 63px 554px;


            }

            .imagenDelmain2,
            .imagenDelmain3,
            .imagenDelmain4 {
                display: none;
            }

            .boxNewslatter {
                display: flex;
                background-color: gainsboro;
                margin: 40px 134px 10px 260px;
                border-radius: 5px;
                overflow: hidden;
                align-content: center;
                width: 500px;
                height: 500px;
                flex-direction: column;
                flex-wrap: wrap;

                h2 {
                    text-align: center;
                    margin: -51px -527px 340px -237px;
                }
            }

            .encabezadosDeseccion h1,
            .tituloDelapagina h1,
            .tituloDelapagina h2,
            .encabezadosDeseccion h2 {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .box img {
                display: flex;
                align-items: center;
                margin: 28px 114px;
            }
        }
    }

    .tituloDelapagina {
        padding: 30px;
    }

    .nav {
        flex-direction: column;
        background-color: #07371c;
    }

    .ultimoGpdisputado #img {
        width: 100%;
        height: 100%;
    }

    footer {

        .listaPie1 ul,
        .listaPie2 ul {

            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 10px 10px 10px;

            h2 {
                display: flex;
                flex-direction: column;
            }
        }

        .direccion2 {
            display: flex;
            margin: -157px 0px 0px 0px;
        }
    }
}


@media screen and (max-width: 768px) {

    .tituloDelapagina {
        padding: 10px;
    }

    body {
        grid-template-areas:
            "header header"
            "nav nav"
            "main main"
            "pie pie";
        grid-template-columns: 384px 384px;
        grid-template-rows: 100px 300px auto 1fr;

        main {
            h3 {

                margin: 10px;
            }

            .noticias {
                display: flex;
                align-items: center;
                display: block;
                margin: 0px -61px;
            }

            .articulosDeblog {
                justify-content: center;
                margin: 2px 2px 2px -122px;
            }

            .box {
                display: inline-flex;
                background-color: gainsboro;
                margin: 50px 50px 0px 125px;
                width: 500px;
                border-radius: 5px;
                overflow: hidden;

                img {
                    max-width: 100%;
                    object-fit: cover;
                }
            }

            .imagenDelmain,
            .imagenDelmain2,
            .imagenDelmain3,
            .imagenDelmain4 {
                display: none;
            }

            .textoDelmain {
                p {

                    display: flex;
                    width: 738px;
                }

                text-align: justify;
            }

            .encabezadosDeseccion h1,
            .tituloDelapagina h1,
            .tituloDelapagina h2,
            .encabezadosDeseccion h2 {
                display: flex;
                justify-content: center;
                margin-top: 40px;
                margin-bottom: 20px;
            }

            .box {
                img {
                    display: flex;
                    align-items: center;
                    margin: 28px 114px;
                }
            }

            .boxNewslatter {
                display: flex;
                background-color: gainsboro;
                margin: 40px 134px 10px 134px;
                border-radius: 5px;
                box-shadow: 5px 5px 15px gray;
                overflow: hidden;
                align-content: center;
                width: 500px;
                height: 500px;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
    }

    .nav {
        flex-direction: column;
        background-color: #07371c;
    }

    .ultimoGpdisputado {
        #img {
            width: 100%;
            height: 100%;
        }
    }

    footer {

        .listaPie1 ul,
        .listaPie2 ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 10px 10px 10px;

            h2 {
                display: flex;
                flex-direction: column;
            }
        }
    }
}



@media screen and (max-width: 425px) {

    body {
        grid-template-areas:
            "header"
            "nav"
            "nav"
            "main"
            "pie";
        grid-template-columns: 150px;
        grid-template-rows: 100px 1fr 1fr auto 1fr;
        display: block;

        .tituloDelapagina {
            padding: 30px;
        }

        .nav {
            flex-direction: column;
        }

        main {
            .box {
                background-color: gainsboro;
                margin: 13px -138px 32px 38px;
                border-radius: 5px;
                box-shadow: 5px 5px 15px gray;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                width: 340px;

                img {
                    max-width: 100%;
                    object-fit: cover;
                }
            }

            .noticias {
                display: flex;
                align-items: center;
                display: block;
                margin: 2px 2px 2px -57px;

                .box {
                    display: inline-flex;
                    background-color: gainsboro;
                    margin: 90px -76px 31px 102px;
                    border-radius: 5px;
                    box-shadow: 5px 5px 15px gray;
                    overflow: hidden;

                    img {
                        height: 290px;
                        width: 350px;
                        object-fit: cover;
                        margin: 30px 20px 30px 2px;
                        object-fit: cover;
                    }

                    .tarjetaNoticia1 {
                        display: flex;
                        background-color: gainsboro;
                        margin: 5px;
                        border-radius: 5px;
                        align-content: center;
                        width: 500px;
                        margin: 20px 20px 20px 20px;
                        flex-direction: column;
                    }

                    .tarjetaNoticia2 {
                        display: flex;
                        background-color: gainsboro;
                        margin: 5px;
                        border-radius: 5px;
                        align-content: center;
                        width: 500px;
                        margin: 20px 20px 20px 20px;
                        flex-direction: column;
                    }

                    .tarjetaNoticia3 {
                        display: flex;
                        background-color: gainsboro;
                        margin: 5px;
                        border-radius: 5px;
                        align-content: center;
                        width: 500px;
                        margin: 20px 20px 20px 20px;
                        flex-direction: column;
                    }

                    .tarjetaNoticia4 {
                        display: flex;
                        background-color: gainsboro;
                        margin: 5px;
                        border-radius: 5px;
                        align-content: center;
                        width: 500px;
                        margin: 20px 20px 20px 20px;
                        flex-direction: column;
                    }

                    .tarjetaNoticia5 {
                        display: flex;
                        background-color: gainsboro;
                        margin: 5px;
                        border-radius: 5px;
                        align-content: center;
                        width: 500px;
                        margin: 20px 20px 20px 20px;
                        flex-direction: column;
                    }

                    .tarjetaNoticia6 {
                        display: flex;
                        background-color: gainsboro;
                        margin: 5px;
                        border-radius: 5px;
                        align-content: center;
                        width: 500px;
                        margin: 20px 20px 20px 20px;
                        flex-direction: column;
                    }
                }


            }

            .articulosDeblog {
                justify-content: center;
                margin: 2px 2px 2px -6px;

                .boxblog {
                    display: inline-flex;
                    background-color: gainsboro;
                    margin: 50px 2px 3px 29px;
                    border-radius: 5px;
                    overflow: hidden;
                    align-items: center;
                    width: 371px;
                    justify-content: center;
                    padding: 16px;
                }
            }

            .textoDelmain {
                p {
                    display: flex;
                    width: 385px;
                    text-align: justify;
                }
            }

            .boxNewslatter {
                display: flex;
                background-color: gainsboro;
                margin: 16px 215px 18px 11px;
                border-radius: 5px;
                box-shadow: 5px 5px 15px gray;
                overflow: hidden;
                align-content: flex-end;
                width: 400px;
                height: 480px;
                align-items: center;
                flex-direction: row;

                h2 {
                    text-align: center;
                    margin: 10px -28px 411px -23px;
                }

                .labelsDeformulario {
                    display: flex;
                    flex-direction: column;
                    align-content: flex-end;
                }
            }

            .imagenDelmain,
            .imagenDelmain2,
            .imagenDelmain3,
            .imagenDelmain4 {
                display: none;
            }

            .encabezadosDeseccion h2 {
                display: flex;
                font-size: large;
            }

            .box {
                margin: 40px 35px 10px 35px;
            }
        }
    }

    footer {

        .listaPie1 ul,
        .listaPie2 ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 10px 10px 10px;

            h2 {
                display: flex;
                flex-direction: column;
            }
        }
    }
}