$color-primario: #033519fb;
$color-secundario: #eeff00;



header {
    background-color: $color-primario;
    opacity: 95%;
    top: 5px;
    

    .imagenLogo {

        width: 70px;
        display: flex;
        object-fit: fill;

    }

    .tituloDelapagina {
        display: flex;
        justify-content: center;

        h1 {
            color: $color-secundario;
        }



    }


    .bg-body-tertiary {
        --bs-bg-opacity: 0;

    }

}

element.style {
    width: 100%;
}
