$color-fondo: white;
$color-secundario: #b5be35;
$color-cajas: gray;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $color-secundario;
}

ul,
ol {
    list-style: none;
}

body{
    background-color: $color-fondo
}
